#dxDataGridReqTemp {
    height: 840px;
    padding-top: 45px;
}


#ReqTempDeleteSelected {
    float:right;
    z-index: 1;
    right: 0;
    margin: 1px;
    top: 0;
}

#ReqTempDeleteSelected .dx-button-text {
    line-height: 0;
}